.header__container {
  display: grid;
  width: 100%;
  grid-template-areas: "logo nav search";
  grid-template-columns: 1.5fr 1fr 1fr; }

.header__logo {
  grid-area: logo; }

.header__nav {
  grid-area: nav; }

.header__search-form {
  grid-area: search;
  justify-self: end; }

@media (max-width: 1023px) {
  .header__search-icon {
    width: 20px;
    height: 20px; } }
.visitor-work__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 30px; }

.list__item--main {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }

@media (max-width: 1919px) {
  .visitor-work__list {
    grid-template-rows: 330px 186px; } }
@media (max-width: 1023px) {
  .visitor-work__list {
    grid-template-rows: 228px 133px; }

  .hero__master-class {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; } }
@media (max-width: 767px) {
  .visitor-work__list {
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
    gap: 27px; } }
.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr;
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
  justify-items: stretch; }

.project__item--semantics {
  grid-column: 4 / 6;
  grid-row: 1 / 2; }

.project__item--oblivion {
  grid-column: 1 / 4;
  grid-row: 2 / 3; }

@media (max-width: 1919px) {
  .projects__list {
    grid-template-columns: 2fr 0.9fr 0.9fr 0.9fr 0.9fr 2fr;
    grid-template-rows: 285px 307px 307px;
    gap: 25px; }

  .project__item--potrait {
    grid-column: 2 / 4;
    grid-row: 1 / 2; }

  .project__item--subject {
    grid-column: 4 / 7;
    grid-row: 1 / 2; }

  .project__item--semantics {
    grid-column: 1 / 5;
    grid-row: 2 / 3; }

  .project__item--oblivion {
    grid-column: 3 / 7;
    grid-row: 3 / 4; }

  .project__item--retouch {
    grid-column: 5 / 7;
    grid-row: 2 / 3; }

  .project__item--wb-potrait {
    grid-column: 1 / 3;
    grid-row: 3 / 4; } }
@media (max-width: 1023px) {
  .projects__list {
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 300px 300px 307px 300px;
    row-gap: unset;
    gap: 27px; }

  .project__item--subject {
    grid-column: 4 / 5; }

  .project__item--retouch {
    grid-column: 1 / 3;
    grid-row: 3 / 4; }

  .project__item--wb-potrait {
    grid-column: 3 / 5; }

  .project__item--oblivion {
    grid-column: 1 / 5;
    grid-row: 4 / 5; } }
@media (max-width: 767px) {
  .projects__list {
    gap: 22px; } }
.footer__container {
  display: grid;
  grid-template-columns: minmax(263px, -webkit-max-content) 1fr minmax(160px, -webkit-max-content);
  grid-template-columns: minmax(263px, max-content) 1fr minmax(160px, max-content);
  grid-template-rows: 1fr; }

@media (max-width: 1023px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr); }

  .footer__copyright {
    text-align: left; }

  .footer__social {
    justify-self: end; } }
@media (max-width: 767px) {
  .footer__logo {
    grid-area: footer-logo; }

  .footer__social {
    grid-area: footer-social;
    padding-top: 32px;
    padding-bottom: 32px; }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "footer-social" "footer-logo"; }

  .footer__social, .footer__logo {
    justify-self: center; }

  .footer__logo {
    padding: 14px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center; } }
.header__container {
  display: grid;
  width: 100%;
  grid-template-areas: "logo nav search";
  grid-template-columns: 1.5fr 1fr 1fr; }

.header__logo {
  grid-area: logo; }

.header__nav {
  grid-area: nav; }

.header__search-form {
  grid-area: search;
  justify-self: end; }

@media (max-width: 1023px) {
  .header__search-icon {
    width: 20px;
    height: 20px; } }
.visitor-work__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 30px; }

.list__item--main {
  grid-column: 1 / 3;
  grid-row: 1 / 2; }

@media (max-width: 1919px) {
  .visitor-work__list {
    grid-template-rows: 330px 186px; } }
@media (max-width: 1023px) {
  .visitor-work__list {
    grid-template-rows: 228px 133px; }

  .hero__master-class {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; } }
@media (max-width: 767px) {
  .visitor-work__list {
    grid-template-rows: repeat(2, -webkit-max-content);
    grid-template-rows: repeat(2, max-content);
    gap: 27px; } }
.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr;
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
  justify-items: stretch; }

.project__item--semantics {
  grid-column: 4 / 6;
  grid-row: 1 / 2; }

.project__item--oblivion {
  grid-column: 1 / 4;
  grid-row: 2 / 3; }

@media (max-width: 1919px) {
  .projects__list {
    grid-template-columns: 2fr 0.9fr 0.9fr 0.9fr 0.9fr 2fr;
    grid-template-rows: 285px 307px 307px;
    gap: 25px; }

  .project__item--potrait {
    grid-column: 2 / 4;
    grid-row: 1 / 2; }

  .project__item--subject {
    grid-column: 4 / 7;
    grid-row: 1 / 2; }

  .project__item--semantics {
    grid-column: 1 / 5;
    grid-row: 2 / 3; }

  .project__item--oblivion {
    grid-column: 3 / 7;
    grid-row: 3 / 4; }

  .project__item--retouch {
    grid-column: 5 / 7;
    grid-row: 2 / 3; }

  .project__item--wb-potrait {
    grid-column: 1 / 3;
    grid-row: 3 / 4; } }
@media (max-width: 1023px) {
  .projects__list {
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 300px 300px 307px 300px;
    row-gap: unset;
    gap: 27px; }

  .project__item--subject {
    grid-column: 4 / 5; }

  .project__item--retouch {
    grid-column: 1 / 3;
    grid-row: 3 / 4; }

  .project__item--wb-potrait {
    grid-column: 3 / 5; }

  .project__item--oblivion {
    grid-column: 1 / 5;
    grid-row: 4 / 5; } }
@media (max-width: 767px) {
  .projects__list {
    gap: 22px; } }
.footer__container {
  display: grid;
  grid-template-columns: minmax(263px, -webkit-max-content) 1fr minmax(160px, -webkit-max-content);
  grid-template-columns: minmax(263px, max-content) 1fr minmax(160px, max-content);
  grid-template-rows: 1fr; }

@media (max-width: 1023px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr); }

  .footer__copyright {
    text-align: left; }

  .footer__social {
    justify-self: end; } }
@media (max-width: 767px) {
  .footer__logo {
    grid-area: footer-logo; }

  .footer__social {
    grid-area: footer-social;
    padding-top: 32px;
    padding-bottom: 32px; }

  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "footer-social" "footer-logo"; }

  .footer__social, .footer__logo {
    justify-self: center; }

  .footer__logo {
    padding: 14px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center; } }
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.nav__list, .visitor-work__list, .projects__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.header__container, .hero, .projects {
  max-width: 1290px;
  margin: 0 auto; }

.header__full, .studio, .footer {
  background-color: #202020; }

.nav__item a:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #BC572B;
  outline: none; }

.nav__item a:focus-visible {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  background-color: #BC572B; }

.nav__item:hover {
  color: #FF6E30; }

.nav__item:active {
  color: #CE4307; }

.nav__close-btn svg:hover path {
  fill: #FF6E30; }

.nav__close-btn svg:active path {
  fill: #CE4307; }

.nav__close-btn svg:focus path {
  fill: #BC572B; }

.search-bar:focus {
  outline: none;
  border-bottom: 1px #BC572B solid; }

.search-bar:hover {
  border: none;
  border-bottom: 1px #FF6E30 solid; }

.search-bar:hover {
  outline: none;
  border-bottom: 1px #CE4307 solid; }

.header__search-icon:focus path {
  fill: #BC572B; }

.header__search-icon:hover path {
  fill: #FF6E30; }

.header__search-icon:active path {
  fill: #CE4307; }

.search-btn__close svg:focus path {
  fill: #BC572B; }

.search-btn__close svg:hover path {
  fill: #FF6E30; }

.search-btn__close svg:active path {
  fill: #CE4307; }

.search-btn__close:focus {
  outline: none; }

.btn:focus {
  background-color: #FF6E30;
  outline: 3px #CE4307 solid; }

.btn:hover {
  background-color: #BC572B; }

.btn:active {
  background-color: #CE4307; }

.form__email:hover::-webkit-input-placeholder {
  color: #FF6E30; }

.form__email:hover:-ms-input-placeholder {
  color: #FF6E30; }

.form__email:hover::-ms-input-placeholder {
  color: #FF6E30; }

.form__email:hover::placeholder {
  color: #FF6E30; }

.form__email:focus {
  outline: 3px #FF6E30 solid; }

.project__btn:focus {
  background-color: #BC572B;
  outline: 3px solid #FF6E30; }

.project__btn:hover {
  background-color: #FF6E30; }

.project__btn:active {
  background-color: #CE4307;
  outline: 3px solid #CE4307; }

.tag:focus {
  color: #BC572B; }

.tag:hover {
  color: #FF6E30; }

.tag:active {
  color: #CE4307; }

.contacts-field:focus {
  outline: 1px solid #CE4307; }

.contacts-field:hover::-webkit-input-placeholder {
  color: #FF6E30; }

.contacts-field:hover:-ms-input-placeholder {
  color: #FF6E30; }

.contacts-field:hover::-ms-input-placeholder {
  color: #FF6E30; }

.contacts-field:hover::placeholder {
  color: #FF6E30; }

.contacts-field:active::-webkit-input-placeholder {
  color: #202020; }

.contacts-field:active:-ms-input-placeholder {
  color: #202020; }

.contacts-field:active::-ms-input-placeholder {
  color: #202020; }

.contacts-field:active::placeholder {
  color: #202020; }

.studio-tel:focus {
  color: #FF6E30; }

.studio-tel:hover {
  color: #BC572B; }

.studio-tel:active {
  color: #CE4307; }

.studio-tel:hover::before {
  content: url(../images/call_hover.svg); }

.studio-tel:hover::active {
  content: url(../images/call_active.svg); }

.close-btn svg:focus circle {
  outline: none;
  fill: #BC572B; }

.close-btn svg:hover circle {
  fill: #FF6E30; }

.close-btn svg:active circle {
  fill: #CE4307; }

.social__link:focus path {
  outline: none;
  fill: #BC572B; }

.social__link:hover path {
  fill: #FF6E30; }

.social__link:active path {
  fill: #CE4307; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (max-width: 1919px) {
  .header__container, .hero, .projects,
  .studio__container, .contacts,
  .footer__container {
    max-width: 963px; }

  .nav__list {
    gap: 30px; }

  .hero {
    padding-top: 34px;
    padding-bottom: 63px; }

  .item__image {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

  .hero__title {
    padding-bottom: 26px;
    line-height: 24px; }

  .cover__title {
    line-height: 35px;
    letter-spacing: 0.6px;
    width: 100%; }

  .cover__author {
    margin-bottom: 5px;
    letter-spacing: -0.5px; }

  .projects__tag {
    right: 10px; }

  .tag {
    padding: 6px 14px; }

  .studio__descr {
    width: 50%;
    margin-right: 30px; }

  .studio__container {
    padding-bottom: 81px; }

  .master-class__descr {
    left: 30px;
    bottom: 36px; }

  .form__email {
    width: 74%;
    margin-bottom: 20px;
    padding-left: 20px; }

  .subscr__pic {
    margin-bottom: 20px; }

  .project__cover--span {
    display: contents; }

  .project__time {
    bottom: -5px; }

  .project__descr {
    top: 29px;
    left: 33px; }

  .project__title {
    padding-bottom: 8px; }

  .contacts__map-wrapper {
    width: 61.5%; }

  .contacts__map-address {
    padding-top: 23px;
    top: unset;
    bottom: 0;
    left: 0;
    height: 34%;
    width: 100%;
    padding-left: 30px; }

  .studio-name {
    font-weight: normal; }

  .close-btn {
    right: 22px; }

  .contacts__address {
    width: 60%; }

  .studio-adress--br {
    display: inline; }

  .studio-adress {
    padding-right: 10px; }

  .contacts__applic-heading {
    padding-bottom: 2px; }

  .contacts-field {
    padding: 18px 0 13px 23px; }

  .footer__container {
    padding: 23px 0; }

  .footer__logo {
    padding-top: 6px; }

  .footer__quote {
    padding-left: 103px; }

  .quote__text, .social__text {
    letter-spacing: normal; }

  .quote__text--cite {
    padding-left: 10px; } }
@media (max-width: 1023px) {
  .header__container, .hero, .projects,
  .studio__container, .contacts,
  .footer__container {
    margin: 0 auto;
    max-width: 714px; }

  .header__nav {
    display: none; }

  .header__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0 12px 0px;
    background-color: #4A4A4A; }

  .header__search-icon {
    width: 25px;
    height: 25px; }

  .header-burger {
    max-width: 714px;
    margin: 0 auto; }

  .nav__list {
    gap: 70px; }

  .hero {
    padding-bottom: 66px; }

  .hero__title {
    padding-bottom: 17px;
    line-height: 22px;
    letter-spacing: normal; }

  .hero__tag {
    top: 18px;
    right: 17px; }

  .master-class__descr {
    bottom: 30px; }

  .studio__container {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-bottom: 59px; }

  .subscr__container {
    width: 48%; }

  .subscr__pic {
    height: 75%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 18px; }

  .form__email {
    width: 100%;
    margin-bottom: 22px; }

  .projects {
    padding-top: 74px; }

  .project__cover {
    height: 61%; }

  .project__descr {
    top: 29px; }

  .projects__tag {
    top: 6px;
    right: 8px; }

  .tag {
    padding: 6px 14px; }

  .project__cover {
    margin-bottom: 18px; }

  .contacts__wrapper {
    padding-bottom: 68px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .contacts__map-wrapper {
    padding-top: 23px;
    margin-bottom: 24px;
    margin-right: 0;
    width: 100%;
    bottom: -4px; }

  .contacts__map-address {
    height: 33%; }

  .contacts__heading {
    padding-bottom: 0; }

  .contacts__address {
    width: 65%; }

  .studio-adress {
    display: inline;
    padding-right: 0; }

  .studio-tel {
    display: block; }

  .header__nav--burger .studio-tel {
    display: none; }

  .contacts__form {
    width: 65%; }

  .contacts-field {
    padding-top: 16px; }

  .close-btn {
    right: 20px; }

  .contacts__applic-heading {
    padding-bottom: 7px; }

  .contacts__applic-text {
    padding-bottom: 14px; }

  .footer__quote {
    display: none; }

  .social__link--odnoklassniki {
    margin-right: 16px; } }
@media (max-width: 767px) {
  .header__container, .hero, .projects,
  .studio__container, .contacts,
  .footer__container {
    max-width: 278px; }

  .header__search-icon {
    width: 20px;
    height: 20px; }

  .header__tablet {
    padding-left: 21px;
    padding-bottom: 8px; }

  .header-burger {
    margin: 0; }

  .header__burger-menu {
    display: block;
    position: relative; }

  .header__nav--burger {
    display: none;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 70px;
    left: 0;
    padding-left: 22px;
    background-color: #202020; }

  .active {
    display: block; }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px; }

  .nav__close-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: 16px;
    -ms-flex-item-align: start;
        align-self: flex-start; }

  .nav__item:last-child {
    margin-bottom: 212px; }

  .studio-tel--burger {
    display: block;
    margin-bottom: 36px; }

  .burger-btn {
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer; }

  .line-top, .line-middle, .line-bottom {
    display: block;
    margin-bottom: 6px;
    height: 2px;
    width: 20px;
    background-color: #FFF; }

  .line-bottom {
    width: 10px; }

  .search-bar {
    width: 278px; }

  .search-bar::-webkit-input-placeholder {
    font-size: 14px; }

  .hero {
    padding-top: 30px;
    padding-bottom: 42px; }

  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .hero__master-class {
    margin-bottom: 27px; }

  .hero__visitor-work, .hero__master-class {
    width: 100%; }

  .master-class__descr {
    left: 30px;
    bottom: 36px; }

  .cover__author, .btn, .studio__about-text {
    font-size: 14px; }

  .cover__author {
    margin-bottom: 2px; }

  .cover__btn {
    padding: 11px 18px; }

  .cover__title {
    width: 70%;
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.8px; }

  .hero__title, .studio__title, .form__label {
    font-size: 18px; }

  .hero__title {
    padding-bottom: 14px;
    line-height: 20px;
    letter-spacing: 0.9px; }

  .hero__tag {
    top: 4px;
    right: 0px; }

  .tag {
    font-size: 12px;
    padding: 6px 12px; }

  .header__nav--burger .studio-tel {
    display: block; }

  .studio__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .studio__title {
    padding-bottom: 7px; }

  .studio__about-text {
    line-height: 25px;
    padding-right: unset; }

  .subscr__container {
    width: 100%;
    padding-top: 21px; }

  .subscr__pic {
    margin-bottom: 22px; }

  .form__email {
    width: 100%;
    height: 42px;
    margin-bottom: 17px; }

  .form__btn {
    padding: 12px 19px; }

  .projects {
    padding-top: 50px;
    padding-bottom: 33px; }

  .projects__title {
    font-size: 18px; }

  .project__time {
    display: contents; }

  .projects__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 21px; }

  .project__title {
    padding-top: 4px;
    padding-bottom: 12px; }

  .project__item--oblivion {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }

  .project__text {
    font-size: 14px;
    letter-spacing: 1px;
    padding-bottom: 11px; }

  .project__descr {
    bottom: 37px;
    top: 197px;
    left: 30px;
    width: 78%; }

  .project__img {
    width: 100%;
    height: 184px; }

  .project__img--semantics, .project__img--oblivion {
    height: unset; }

  .project__text--semantics, .project__text--oblivion {
    letter-spacing: normal;
    line-height: 20px; }

  .projects__tag {
    right: 5px; }

  .project__btn {
    padding: 7px 14px; }

  .tag {
    padding: 4px 15px; }

  .project__cover {
    margin-bottom: 14px; }

  .contacts__wrapper {
    padding-bottom: 51px; }

  .contacts {
    max-width: inherit; }

  .contacts__heading {
    font-size: 18px; }

  .contacts__heading, .contacts__form {
    padding-left: 20px; }

  .contacts__map-wrapper {
    padding-top: unset;
    bottom: -12px;
    margin-bottom: 39px; }

  .contacts__map-address {
    height: 33%;
    padding-left: 20px;
    padding-top: 28px; }

  .contacts__applic-text {
    padding-bottom: 18px; }

  .ymap, #map {
    height: 472px; }

  .studio-name, .contacts__applic-heading {
    font-size: 18px; }

  .studio-name {
    padding-bottom: 8px; }

  .contacts__address {
    width: 95%; }

  .studio-adress, .contacts__applic-text, .contacts-field {
    font-size: 14px;
    line-height: normal; }

  .studio-tel {
    display: block;
    font-size: 14px;
    padding-top: 8px; }

  .contacts__form {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 94%;
    padding-left: 20px; }

  .contacts-field {
    padding-bottom: 9px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 12px; }

  .contacts--btn {
    padding: 10px 19px; }

  .footer__social {
    padding-top: 8px; }

  .footer__logo {
    padding-top: 12px; }

  .footer__copyright {
    font-size: 10px; } }

/*# sourceMappingURL=adaptive.css.map */