// ----------- Colors ----------- //

$primiry-color: #FF6E30;
$primiry-dark: #BC572B;
$active-color: #CE4307;
$primiry-light: #FFD4C1;
$background-black: #202020;
$background-grey: #E9E9E9;
$background-dark-grey: #4A4A4A;
$text-light-color: #999;
$text-light-grey: #CACACA;
$invalid: #FF3030;

// ----------- Sizes ---------//

$container-desktop: 1290px;
$container-tablet: 963px;
$container-768: 714px;
$container-mob: 278px;

$section-margin: 68px;
$gridGutter: 30px;
